@model IReadOnlyList<CartItem>

@foreach (var item in Model)
{
    <tr>
        <!--Todo put image of a meal here-->
        <td class="img-col">
            <a href="@Url.Action("Details", "Meals", new { id = item.MealType.MealID })"><img class="food-image img-responsive" style="max-width:128px; max-height:128px;" src="@item.MealType.Meal.ImagePath"></a>
        </td>
        <td class="name-col">
            @item.MealType.Meal.Name
            <input type="hidden" name="MealID" value=@Html.DisplayFor(model => item.MealType.MealID)>
        </td>
        <td class="size-col">
            @item.MealType.MealTypeName
        </td>           
        <td class="size-col">
            @item.Count
        </td>
        <td class="price-col" align="right">
            @item.Price HRK
        </td>
        <td class="remove-col">
            <button type="submit" name="@item.MealType.MealID" data-url="@Url.Action("RemoveItem", "Cart")" class="btn btn-warning pull-right addToCartBtn">Ukloni</button>
            <label class="pull-right"></label>
        </td>       
    </tr>
}