<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content")
</head>
<body>
    <div id="header-wrap">
        <nav class="navbar navbar-inverse navbar-static-top" id="header">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#wildNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">Wild8</a>
                </div>
                <div class="collapse navbar-collapse" id="wildNavbar">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span> Početna</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Menu")"><span class="glyphicon glyphicon-cutlery"></span> Jelovnik</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Comments")"><span class="glyphicon glyphicon-comment"></span> Komentari</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Contacts")"><span class="glyphicon glyphicon-globe"></span> Kontakt</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a id="cartCount" href="#"><span class="glyphicon glyphicon-shopping-cart"></span> @Session["CartCount"]</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
        @RenderBody()

    <footer>
        <hr class="featurette-divider">
        <p class="pull-right">
            <a href="#top">Idi na vrh</a>
        </p>
        <p>
            © Wild8 ugostiteljski obrt. · <a href="personnelLogin.html">Prijava osoblja</a>
        </p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
