@model MealWithPrice

@{
    ViewBag.Title = "Wild8 | Meal: " + Model.Meal.Name;
}

@section Scripts
{
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/meal_view.js" ></script>  
}
@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/Content/meal.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/comments.css" />
}

    <div class="container">
        <form action="@Url.Action("AddToCart","Meals")">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive meal-image"  img-responsive" src="http://lorempixel.com/200/200" />
                </div>
                <div class="col-md-1"></div><!--Kaj je ovo??-->
                <div class="col-md-4">
                    <h3 id="MealName">@Html.Display(Model.Meal.Name)</h3>
                    <p>@Html.Display(Model.Meal.Description)</p>
                </div>
            </div>
            <div class="row">

                <div class="col-md-2">
                    <table>
                        <tbody>
                            @foreach (var mealAddOn in Model.Meal.AddOns)
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox" value="@mealAddOn.AddOn.Price">@mealAddOn.AddOn.AddOnID
                                    </td>
                                    <td> 
                                        + @mealAddOn.AddOn.Price HRK
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-1">
                    <ul>
                        @{
                            for (int i = 0, n = Model.Types.Count; i < n; i++)
                            {
                                var type = Model.Types[i];
                                if (i == 0)
                                {
                                    <li>
                                        <!--Every radio buttton has to have the same name, all names are defirented with meal id-->
                                        <input type="radio" name="Type" checked="checked" value="@(type.Price + "#" + type.MealTypeName)">@type.MealTypeName
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <input type="radio" name="Type" value="@(type.Price + "#" + type.MealTypeName)">@type.MealTypeName
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="col-md-1">
                    <select id="Count" name="Count" form="AddMealForm" class="1-10"></select>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-warning pull-right" id="addMealButton" >Dodaj</button>
                    <label id="sum" class="pull-right">35.99 HRK</label>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-6">
                <h2 id="commentHeader" class="page-header">Komentari</h2>
                <section class="comment-list">
                    <div id="comments">
                        @{ 
                            Html.RenderPartial("Comments", Model.Meal.Comments);
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="font-size: 100%">
                        Komentiraj...
                    </a>
                </h4>
            </div>

            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body commentbox-style">
                    
                    <form id="commentForm" action="@Url.Action("AddNewComment","Meals")"> 
                        <div class="form-group">
                            <label for="usr">Korisničko ime:</label>
                            <input type="hidden" name="ID" value=@Html.DisplayFor(m => m.Meal.MealID)>
                            <input type="text" class="form-control" id="usr" name="Username" placeholder="korisničko ime" required autofocus="">
                        </div>
                        <div class="form-group">
                            <label for="comment">Komentar:</label>
                            <textarea class="form-control" rows="5" id="comment" name="Message" placeholder="Upišite Vaš komentar ovdje." required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="rate">Ocjena: </label>
                            <div class="container">
                                <div class="row lead">
                                    <div id="stars-existing" class="stars" data-rating="3"></div>
                                    <p>
                                        Ocijenili ste s <span id="count-existing">3</span> <span class="glyphicon glyphicon-star"></span>
                                    </p>
                                </div>
                            </div>
                            <input type="submit" id="commentButton" class="btn btn-lg btn-success btn-block" value="Pošalji komentar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>